html {
    font-size: 75%;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-stretch: normal;
    color: #334152;
    letter-spacing: 0.4px;
    overflow-y: scroll;
    position: relative;
}

.table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.table tbody tr:first-child td {
    border-top: 1px solid #d8dde3;
}

.table tbody tr:nth-child(odd) {
    background-color: #f7f8fa;
}

.glyphicon.glyphicon-triangle-bottom,
.glyphicon.glyphicon-triangle-top {
    padding: 0 0 0 5px;
    cursor: pointer;
}

.sorted {
    display: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-number {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-number-item {
    margin: 0 10px;
    text-decoration: underline;
    cursor: pointer;
}

.hidden-number {
    display: none;
}

.active-page-number {
    text-decoration: none;
}
